<div class="container d-flex justify-content-center">
    <div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
        <div class="row g-0">

            <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">Leave Feedback</h5>
                <h1 class="text-dark mb-4">Leave Feedback</h1>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                {{ form.name }}
                                <label>{{ form.name.label }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                {{ form.profession }}
                                <label>{{ form.profession.label }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating date" id="date3" data-target-input="nearest">
                                {{ form.feedback }}
                                <label>{{ form.feedback.label }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                {{ form.photo }}
                                <label>{{ form.photo.label }}</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Leave Feedback</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
